# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata


# Output files
Data/*.csv
Data/*.laz
Data/extracted_laz_beech/*.laz

# RStudio files
.Rproj.user/

